# Chaves de teste mantidas aqui apenas para facilitar a avaliação do projeto. Em cenário real, isso não deve ser versionado.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmVhcmJ5LW5ld3QtODEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_z5hBh2KBMza5piVYCo73HlGFFPgMpNFtShbgNMlOwx
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
